{% if books %}
<table border="1" cellpadding="1" cellspacing="0">
<tr>
<th>
<a id="lnkName" name="lnkName" href=".">Name</a>
</th>
<th>
<a id="lnkAuthors" name="lnkAuthors" href=".">Authors</a>
</th>
<th>
<a id="lnkPublisher" name="lnkPublisher" href=".">Publisher</a>
</th>
<th>
<a id="lnkFormat" name="lnkFormat" href=".">Format</a>
</th>
<th>
<a id="lnkPubyear" name="lnkPubyear" href=".">Pub.Year</a>
</th>
<th>
<a id="lnkLocation" name="lnkLocation" href=".">Location</a>
</th>
</tr>
{% for book in books %}
<tr>
  <td>{{ book.name }}</td>
  <td>{{ book.authors }}</td>
  <td>{{ book.publisher }}</td>
  <td>{{ book.format }}</td>
  <td>{{ book.pubYear }}</td>
  <td>{{ book.location.dvd }}</td>
</tr>
{% endfor %}
</table>
{% endif %}